.login{
  padding: 30px 30px 30px;
  font-weight:bold;
  font-size: 20px
}
.inputBox{
  padding: 30px 30px 30px;

}
.loginButton{
  background: rgb(255,0,0, .3);
  padding: 0px 10px 0px;

}
.loginButton:hover{
  background: rgb(255,0,0, 10);
  padding: 0px 10px 0px;
  font-weight: bold;
  font-style: italic;

}

.password{
}
